.labels {
  font-size: 18px;
  font-family: Montserrat;
  /*letter-spacing: 0.06875em;*/
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.description {
  font-size: 18px;
  font-family: Montserrat;
  letter-spacing: 0.06875em;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;

}

.node circle {
  fill: #fff;
  stroke: #FB9A0D;
  stroke-width: 3px;
}

.falsenode {
  stroke: #0000ff !important;
}

.truenode {
  stroke: #ff3b00 !important;
  /* stroke: #ffff00 !important; */
}

.node foreignObject {
  font: 14px Montserrat;
  /*letter-spacing: 0.06875em;*/
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;

  width: 200px;
  overflow: hidden;
  height: 20px;
  fill: black;

}

.link {
  fill: none;
  stroke: #FB9A0D;
 /* stroke: #F0EAE1;*/
  /*stroke-width: 2px;*/
}


.truelink {
  stroke: #ff3b00;
}
.falselink {
  stroke: #0000ff !important;
}

.border {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #8F8D8D;
  border-radius: 0.5%;
  margin: 10px 10px 10px 50px
}

.label { 
    /*word-break: break-word;*/
  white-space:nowrap; 
  text-overflow:ellipsis;
}

.tooltip {
  font-family:simsun;
  font-size:13px;
  width:50;
  height:auto;
  position:absolute; 
  border: 1px solid #8F8D8D;
  background-color:white;
  padding: 2px 4px;
}

#description {
  padding: 0 50px;
  font-size: 18px;
  height: 600px;
}
