.labels {
  font-size: 15px;
  font-family: Montserrat;
  letter-spacing: 0.1125em;
  -webkit-text-stroke-width: 0.5px;
}

.description {
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.1125em;
  -webkit-text-stroke-width: 0.5px;
  color: rgba(0, 0, 0, 0.54);
}

.description-class {
  margin-left: 2em;
}

.description-subclass {
  margin-left: 4em;
}

.node circle {
  fill: #fff;
  stroke: #FB9A0D;
  stroke-width: 3px;
}

.falsenode {
  stroke: #FB9A0D !important;
}

.truenode {
  stroke: #44797B !important;
  /* stroke: #ffff00 !important; */
}

.node foreignObject {
  font: 14px Montserrat;
  /*letter-spacing: 0.06875em;*/
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;

  width: 200px;
  overflow: hidden;
  height: 20px;
}

.link {
  fill: none;
  stroke: #44797B;
 /* stroke: #F0EAE1;*/
  /*stroke-width: 2px;*/
}


.truelink {
  stroke: #44797B;
}
.falselink {
  stroke: #FB9A0D !important;
}

.label { 
    /*word-break: break-word;*/
  white-space:nowrap; 
  text-overflow:ellipsis;
}

.tooltip {
  font-family:simsun;
  font-size:13px;
  width:50;
  height:auto;
  position:absolute; 
  border: 1px solid #8F8D8D;
  background-color:white;
  padding: 2px 4px;
}
